.block {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 100vh;
  //width: 100vw;
  padding-top: 70px;
  padding-bottom: 70px;
  margin-bottom: 30px;

  @include media-breakpoint-up(lg) {
    margin-bottom: 100px;
  }

  hr {
    margin: 20px 0;
  }
}
