footer {
  min-height: 500px;
  height: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: theme-color("secondary-light");

  .col-md-6 {
    margin-bottom: 30px;
  }

  h6 {
    margin-bottom: 20px;
  }

  p {
    font-size: 13px;
    margin-bottom: 0;
  }

  a {
    font-size: 13px;
    color: #333;
  }

  .contact-small {
    margin-bottom: 15px;

    img {
      width: 17px;
      height: 17px;
      margin-right: 15px;
    }
  }
}
