.site-header {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 70px;
  background: theme-color("secondary-light");
  box-shadow: $standard-box-shadow;
  z-index: 99;

  .header-row {
    height: 100%;

    .navbar-brand img {
      width: 188px;
      height: 44px;
    }

    .nav-mobile {
      .toggle-nav {
        display: block;
        position: relative;
        padding: 0;
        margin-top: 15px;
        margin-right: 15px;
        border: none;
        border-radius: 4px;
        width: 42px;
        height: 42px;
        background: none;
        appearance: none;
        z-index: 99;
        cursor: pointer;

        &:focus {
          outline: none;
        }

        .hamburger {
          width: 100%;
          height: 2px;
          margin-bottom: 7px;
          border-radius: 1px;
          background-color: theme-color("primary");
          transition: transform 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
        }

        &[aria-expanded="true"] .hamburger:nth-child(1) {
          transform: translate(0, 9px) rotate(45deg);
        }

        &[aria-expanded="true"] .hamburger:nth-child(2) {
          opacity: 0;
        }

        &[aria-expanded="true"] .hamburger:nth-child(3) {
          transform: translate(0, -9px) rotate(-45deg);
        }
      }

      .expanded-nav {
        display: block;
        position: absolute;
        border-top: 50px solid transparent;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        color: theme-color("heading");
        background-color: theme-color("primary-light");
        overflow: auto;
        //overscroll-behavior: contain;
        z-index: -1;
        font-size: 18px / 16px * 1rem;
        line-height: 1.5;
        opacity: 0;
        box-shadow: $standard-box-shadow;
        visibility: hidden;
        transform: translate(100%, 0);
        transition: opacity, visibility, transform;
        transition-duration: 0.6s;
        transition-timing-function: ease;

        @include media-breakpoint-up(lg) {
          width: 60vw;
        }

        .container {
          height: calc(100% - 100px);
          padding-top: 20px;
          padding-bottom: 30px;
        }

        .nav-bottom {
          height: 100px;
          width: 100%;
          background-color: theme-color("secondary-light");
        }
      }

      .toggle-nav[aria-expanded="true"] ~ .expanded-nav {
        opacity: 1;
        visibility: visible;
        transform: translate(0, 0);

        @include media-breakpoint-up(lg) {
          transform: translate(40vw, 0);
        }
      }

      .menu-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100%;
        margin: 0 0 auto;
        font-size: 19px;
        line-height: 28.5px;
        font-weight: 700;

        ul {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          height: 80%;
          padding-left: 0;
          list-style: none;
        }

        li {
          display: block;
          justify-self: center;
          padding: 0;
          margin: auto 0;
          font-size: 14px;
          font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

          @extend .nav-item;

          a {
            padding: 0;
            color: theme-color("primary");
            opacity: 1;

            &::after {
              display: block;
              content: " ";
              border-bottom: solid 1px theme-color("primary");
              transform: scaleX(0);
              transform-origin: 0 50%;
              transition: transform 0.3s ease-in-out;
            }

            &:hover::after {
              transform: scaleX(1);
            }

            @extend .nav-link;
          }
        }
      }
    }
  }
}
