.template-holding {
  width: 100vw;
  height: 100vh;
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  background-color: #465160;

  .wrap {
    height: 100%;
    width: 100%;

    .content {
      height: 100%;
      width: 100%;

      main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        color: #fff;
        font-size: 18px;
        font-weight: 200;
        text-align: center;

        img {
          max-width: 300px;
          width: auto;
          height: auto;
        }

        a {
          color: #c78f3b !important;

          &:hover {
            color: #fff !important;
          }
        }
      }
    }
  }
}
