@font-face {
  font-family: "benthamregular";
  src:
    url("../fonts/Bentham/bentham-regular-webfont.ttf") format("truetype"),
    url("../fonts/Bentham/bentham-regular-webfont.woff") format("woff"),
    url("../fonts/Bentham/bentham-regular-webfont.woff2") format("woff2");
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: theme-color("main-grey");
  overflow-x: hidden;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;

  h1,
  h2,
  h3,
  h4 {
    font-family: "benthamregular", serif;
    color: theme-color("heading");
  }

  h5,
  h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: theme-color("heading");
  }

  h1 {
    margin-top: 0;
    font-size: 46px;

    @include media-breakpoint-up(lg) {
      font-size: 60px;
    }

    @include media-breakpoint-up(xl) {
      margin-top: 30px;
      margin-bottom: 30px;
      font-size: 70px;
    }
  }

  h2 {
    font-size: 32px;

    @include media-breakpoint-up(lg) {
      font-size: 42px;
    }

    @include media-breakpoint-up(xl) {
      font-size: 48px;
    }
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 18px;
  }

  h6 {
    font-size: 16px;
  }

  p {
    font-size: 15px;
  }

  button {
    background-color: theme-color("primary");
    color: theme-color("primary-light");
    width: 100%;
    padding: 15px 50px;
    border: solid 2px theme-color("primary");
    box-shadow: $standard-box-shadow;
    font-weight: 200;
    transition: all 0.3s ease-in-out;
    transition-property: background-color, color;

    &:hover {
      background-color: theme-color("primary-light");
      color: theme-color("primary");
    }
  }

  .wp-block-gallery {
    padding: 15px;
    margin-right: -15px;
    margin-left: -15px;
    background-color: theme-color("primary-light");

    @include media-breakpoint-up(md) {
      margin-right: unset;
      margin-left: unset;
    }
  }

  .back_to_top {
    display: block;
    position: fixed;
    bottom: -60px;
    right: 40px;
    z-index: 9999;
    width: 40px;
    height: 60px;
    text-align: center;
    line-height: 30px;
    background: theme-color("primary");
    color: theme-color("primary-light");
    box-shadow: $standard-box-shadow;
    cursor: pointer;
    border-radius: 0;
    opacity: 0;
    font-size: 20px;
    transition: all 0.4s ease-in-out;
    transition-property: opacity, bottom;
  }

  .back_to_top:hover {
    background: #e9ebec;
  }

  .back_to_top-show {
    bottom: 0;
    opacity: 1;
  }
}
