/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #c78f3b,
  main-grey: #465160,
  primary-light: #f6f1ea,
  secondary-light: #d0cac0,
  heading: #8a633e,
);
$standard-box-shadow: -3px 3px 5px 0 rgba(0, 0, 0, 0.1);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
