.apartments-block {
  min-height: 900px;

  .solid-one {
    display: block;
    position: absolute;
    left: 0;
    top: 80px;
    width: 100vw;
    height: 100%;
    min-height: 800px;
    margin-left: -15px;
    margin-right: -15px;
    background-color: theme-color("secondary-light");

    @include media-breakpoint-up(lg) {
      display: block;
      position: absolute;
      left: 0;
      top: 80px;
      width: calc(100% - 55px);
      height: 90vh;
      min-height: 800px;
      margin-left: 5px;
      margin-right: 50px;
      box-shadow: $standard-box-shadow;
    }

    @include media-breakpoint-up(xl) {
      display: block;
      position: absolute;
      left: 0;
      top: 80px;
      width: calc(100% - 80px);
      height: 90vh;
      min-height: 800px;
      margin-left: 30px;
      margin-right: 50px;
    }
  }

  .solid-two {
    position: absolute;
    top: 0;
    width: 100%;
    height: 70vh;
    min-height: 700px;
    background-color: theme-color("primary-light");

    @include media-breakpoint-up(lg) {
      right: 0;
      top: 95px;
      width: 70%;
      height: 100%;
      box-shadow: $standard-box-shadow;
    }
  }

  .background-image {
    display: none;

    @include media-breakpoint-up(md) {
      display: block;
      position: absolute;
      right: 0;
      width: 50%;
      height: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0.3;
    }
  }

  .inner-block {
    position: relative;
    display: block;

    @include media-breakpoint-up(lg) {
      display: flex;
      align-items: flex-start;
      min-height: 600px;
      padding-left: 0;
    }

    .carousel {
      width: 100%;

      .carousel-inner {
        width: 100%;

        .carousel-item {
          .title {
            width: 100%;
            margin-top: 30px;
            text-align: left;

            @include media-breakpoint-up(lg) {
              text-align: left;
            }
          }

          .subtitle {
            margin-top: 20px;
            padding-top: 15px;
            padding-bottom: 5px;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            text-align: center;
          }

          .left-col {
            padding-left: 0;
            padding-right: 0;

            @include media-breakpoint-up(lg) {
              padding-right: 30px;
            }

            .image-block {
              position: relative;
              height: 600px;
              width: 100%;
              background-size: cover;
              background-position: center;

              @include media-breakpoint-up(lg) {
                height: 100%;
                //width: 80%;
                //margin-top: 100px;
              }

              .disclaimer-text {
                position: absolute;
                bottom: 15px;
                left: 30px;
                color: theme-color("primary-light");
                font-size: 10px;
              }
            }
          }

          .right-col {
            .content {
              padding-top: 25px;
              padding-bottom: 25px;
              border-bottom: 1px solid rgba(0, 0, 0, 0.1);

              .apartment-data {
                .details {
                  p {
                    font-size: 13px;
                  }
                }

                .plan-image {
                  min-height: 100%;
                  background-position: top right;
                  background-size: 70%;
                  background-repeat: no-repeat;
                }

                .dimensions {
                  ol {
                    padding-left: 12px;
                    font-size: 13px;

                    li {
                      div {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                      }
                    }
                  }
                }
              }

              .floorplan-holder {
                .floorplan-image {
                  width: 100%;
                  height: 300px;
                  background-position: center;
                  background-size: contain;
                  background-repeat: no-repeat;

                  @include media-breakpoint-up(lg) {
                    height: 100%;
                    background-position: bottom center;
                  }

                  &.first {
                    @include media-breakpoint-up(lg) {
                      background-position: top center;
                    }
                  }
                }
              }
            }

            .dimension-disclaimer {
              font-size: 10px;
            }
          }
        }

        .carousel-control-prev-icon,
        .carousel-control-next-icon {
          position: absolute;
          top: 500px;
          height: 40px;
          width: 60px;
          outline: none;
          background-size: 100%, 100%;
          border: 1px solid theme-color("primary");
          background-image: none;
          background-color: theme-color("primary");
        }

        .carousel-control-next-icon {
          right: 0;
        }

        .carousel-control-prev-icon {
          left: 0;
        }

        .carousel-control-next-icon::after {
          position: absolute;
          right: 50%;
          transform: translateX(50%);
          top: 0;
          content: "\2192";
          font-size: 22px;
          color: black;
        }

        .carousel-control-prev-icon::after {
          content: "\2190";
          font-size: 22px;
          color: black;
        }
      }
    }
  }
}
