.closer-block {
  min-height: 900px;

  .solid-one {
    display: block;
    position: relative;
    left: 0;
    top: 50px;
    width: 100vw;
    height: 100%;
    min-height: 800px;
    margin-left: -15px;
    margin-right: -15px;
    background-color: theme-color("primary-light");
    box-shadow: $standard-box-shadow;

    @include media-breakpoint-up(lg) {
      min-height: 800px;
      background-color: theme-color("primary-light");
      box-shadow: $standard-box-shadow;
    }

    .background-image {
      display: none;

      @include media-breakpoint-up(md) {
        display: block;
        position: absolute;
        right: 0;
        width: 50%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.3;
      }
    }
  }

  .inner-block {
    position: relative;
    display: block;

    @include media-breakpoint-up(lg) {
      display: flex;
      align-items: flex-start;
      min-height: 600px;
    }

    .title {
      width: 100%;
      margin-top: 30px;
      text-align: left;

      @include media-breakpoint-up(lg) {
        text-align: left;
      }
    }

    .subtitle {
      margin-top: 20px;
      margin-bottom: 20px;
      padding-top: 15px;
      padding-bottom: 5px;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      text-align: center;
    }

    .left-col {
      padding-left: 0;
      padding-right: 0;

      @include media-breakpoint-up(lg) {
        padding-right: 30px;
      }

      .image-block {
        position: relative;
        height: 600px;
        width: 100%;
        background-size: cover;
        background-position: center;

        @include media-breakpoint-up(lg) {
          height: 100%;
          //width: 80%;
          //margin-top: 100px;
        }

        .disclaimer-text {
          position: absolute;
          bottom: 15px;
          left: 15px;
          color: theme-color("primary-light");
          font-size: 10px;
        }
      }
    }
  }

  .floorplan-images {
    .floorplan-image-block {
      width: auto;
      height: 400px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
