.contact-block {
  min-height: 900px;

  .solid-one {
    display: none;

    @include media-breakpoint-up(lg) {
      display: block;
      position: absolute;
      left: 0;
      top: 80px;
      width: calc(100% - 80px);
      height: 90vh;
      min-height: 800px;
      margin-left: 30px;
      margin-right: 50px;
      background-color: theme-color("secondary-light");
      box-shadow: $standard-box-shadow;
    }
  }

  .solid-two {
    position: absolute;
    top: 30px;
    width: 100vw;
    height: 95%;
    min-height: 700px;
    margin-left: -15px;
    background-color: theme-color("primary-light");

    @include media-breakpoint-up(lg) {
      right: 15px;
      top: 95px;
      width: 70%;
      height: 85vh;
      box-shadow: $standard-box-shadow;
    }
  }

  .inner-block {
    position: relative;
    display: block;

    @include media-breakpoint-up(lg) {
      //display: flex;
      //align-items: center;
      //height: 80vh;
      //min-height: 600px;
    }

    .nf-form-title {
      display: none;
    }

    .nf-field-label {
      color: theme-color("heading");
    }

    .ninja-forms-req-symbol {
      color: theme-color("primary");
    }

    input[type=button] {
      min-width: 250px;
      background-color: theme-color("primary");
      color: theme-color("primary-light");
      border: solid 2px theme-color("primary");
      font-weight: 200;

      &:hover {
        background-color: theme-color("primary-light");
        color: theme-color("primary");
      }
    }
  }
}
