.history-block {
  min-height: 900px;

  .solid-one {
    display: none;

    @include media-breakpoint-up(lg) {
      display: block;
      position: absolute;
      left: 0;
      top: 80px;
      width: calc(100% - 55px);
      height: 80%;
      min-height: 800px;
      margin-left: 5px;
      margin-right: 50px;
      background-color: theme-color("primary-light");
      box-shadow: $standard-box-shadow;
    }

    .background-image {
      width: 100%;
      height: 400px;
      background-size: cover;
      background-position: 0 150px;
      background-repeat: no-repeat;
      opacity: 0.3;

      @include media-breakpoint-up(lg) {
        height: 700px;
      }
    }
  }

  .solid-two {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    min-height: 700px;
    background-color: theme-color("secondary-light");

    @include media-breakpoint-up(lg) {
      right: 15px;
      top: 90px;
      width: 50%;
      height: 90%;
      box-shadow: $standard-box-shadow;
    }
  }

  .inner-block {
    position: relative;
    display: block;

    @include media-breakpoint-up(lg) {
      display: flex;
      align-items: center;
      min-height: 600px;
      padding-top: 50px;
    }

    .title {
      width: 100%;
      text-align: left;

      @include media-breakpoint-up(lg) {
        text-align: left;
      }
    }

    .image-block {
      position: relative;
      height: 500px;
      min-height: 400px;
      background-size: cover;
      box-shadow: $standard-box-shadow;

      @include media-breakpoint-up(lg) {
        width: 400px;
        margin: 70px auto 0;
      }

      @include media-breakpoint-up(xl) {
        margin: 100px auto 0 0;
      }

      img {
        width: 100%;
      }

      .disclaimer-text {
        position: absolute;
        bottom: 15px;
        left: 15px;
        color: theme-color("primary-light");
        font-size: 10px;
      }
    }
  }
}
