.intro-block {
  min-height: 900px;

  .solid-one {
    display: none;

    @include media-breakpoint-up(lg) {
      display: block;
      position: absolute;
      left: 0;
      top: 80px;
      width: calc(100% - 55px);
      height: 90vh;
      min-height: 800px;
      margin-left: 5px;
      margin-right: 50px;
      background-color: theme-color("secondary-light");
      box-shadow: $standard-box-shadow;
    }

    @include media-breakpoint-up(xl) {
      display: block;
      position: absolute;
      left: 0;
      top: 80px;
      width: calc(100% - 80px);
      height: 90vh;
      min-height: 800px;
      margin-left: 30px;
      margin-right: 50px;
    }
  }

  .solid-two {
    position: absolute;
    top: 0;
    width: 100%;
    height: 70vh;
    min-height: 700px;
    background-color: theme-color("primary-light");

    @include media-breakpoint-up(lg) {
      right: 15px;
      top: 95px;
      width: 70%;
      height: 85vh;
      box-shadow: $standard-box-shadow;
    }
  }

  .inner-block {
    position: relative;
    display: block;

    @include media-breakpoint-up(lg) {
      display: flex;
      align-items: center;
      height: 80vh;
      min-height: 600px;
    }

    hr {
      margin: 0 !important;
    }

    .cta {
      display: flex;
      justify-content: center;
      width: 100%;

      a {
        width: 100%;

        button {
          margin-bottom: 40px;
          margin-top: 15px;
        }

        @include media-breakpoint-up(md) {
          width: 250px;
        }
      }
    }

    .image-block {
      height: 100%;
      min-height: 600px;
      background-size: cover;
      background-position: center;
      box-shadow: $standard-box-shadow;

      img {
        width: 100%;
      }

      .disclaimer-text {
        position: absolute;
        bottom: 15px;
        left: 15px;
        color: theme-color("primary-light");
        font-size: 10px;
      }
    }
  }
}
