.location-block {
  position: relative;
  min-height: 900px;

  .solid-one {
    display: block;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100vw;
    height: 100%;
    min-height: 800px;
    margin-left: -15px;
    margin-right: 0;
    background-color: theme-color("primary-light");
    box-shadow: $standard-box-shadow;

    @include media-breakpoint-up(lg) {
      width: calc(100% - 20px);
      margin-left: 10px;
      margin-right: 10px;
    }

    @include media-breakpoint-up(xl) {
      display: block;
      position: absolute;
      left: 0;
      top: 80px;
      width: calc(100% - 45px);
      height: 100%;
      min-height: 800px;
      margin-left: 15px;
      margin-right: 30px;
      background-color: theme-color("primary-light");
      box-shadow: $standard-box-shadow;
    }

    .background-image {
      display: none;

      @include media-breakpoint-up(md) {
        display: block;
        position: absolute;
        right: 0;
        width: 50%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.3;
      }
    }
  }

  .solid-two {
    width: 100vw;
    height: auto;
    margin-left: -30px;
    padding: 20px 15px;
    background-color: theme-color("secondary-light");

    @include media-breakpoint-up(md) {
      width: 100%;
      margin-left: unset;
      box-shadow: $standard-box-shadow;
    }
  }

  .inner-block {
    position: relative;
    display: block;

    @include media-breakpoint-up(lg) {
      display: flex;
      align-items: flex-start;
      min-height: 600px;
      padding-top: 50px;
    }

    .title {
      width: 100%;
      text-align: left;

      @include media-breakpoint-up(lg) {
        text-align: left;
      }
    }

    .subtitle {
      text-align: right;
    }

    .image-block {
      position: relative;
      height: 500px;
      min-height: 400px;
      background-size: cover;

      @include media-breakpoint-up(lg) {
        width: 80%;
        margin-top: 100px;
      }

      img {
        width: 100%;
      }
    }

    .locations {
      width: 100%;
      margin: 40px 0 20px;

      h6:first-of-type {
        border-bottom: solid 2px white;
      }

      .location-table {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        h6 {
          border-bottom: none;
        }

        span {
          font-size: 10px;
        }
      }
    }
  }
}
