.specification-block {
  min-height: 900px;

  .solid-one {
    display: block;
    position: relative;
    left: 0;
    top: 50px;
    width: 100vw;
    height: 100%;
    min-height: 800px;
    margin-left: -15px;
    margin-right: -15px;
    background-color: theme-color("primary-light");
    box-shadow: $standard-box-shadow;

    @include media-breakpoint-up(lg) {
      min-height: 800px;
      background-color: theme-color("primary-light");
      box-shadow: $standard-box-shadow;
    }

    .background-image {
      display: none;

      @include media-breakpoint-up(md) {
        display: block;
        position: absolute;
        right: 0;
        width: 50%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.3;
      }
    }
  }

  .inner-block {
    position: relative;
    display: block;
    width: 100%;

    @include media-breakpoint-up(lg) {
      min-height: 600px;
    }

    .title {
      width: 100%;
      margin-top: 30px;
      text-align: left;

      @include media-breakpoint-up(lg) {
        text-align: left;
      }
    }

    .spec-block {
      margin-bottom: 30px;

      .individual-spec {
        width: 100%;

        a {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          padding: 15px;
          margin-bottom: 5px;
          margin-top: 5px;
          border: solid 1px theme-color("heading");
          background-color: theme-color("primary-light");
          color: theme-color("heading");
          transition: all 0.6s ease;
          transition-property: background-color, color;

          &:hover {
            background-color: theme-color("primary");
            color: theme-color("primary-light");
            text-decoration: none;
          }
        }

        ul {
          padding: 15px 30px;

          li {
            color: theme-color("main-grey");
            list-style-type: circle;
          }
        }
      }
    }

    .left-col {
      padding-left: 0;
      padding-right: 0;

      @include media-breakpoint-up(lg) {
        padding-right: 30px;
      }

      .image-block {
        position: relative;
        height: 600px;
        width: 100%;
        background-size: cover;
        background-position: center;

        @include media-breakpoint-up(lg) {
          height: 800px;
          //width: 80%;
          //margin-top: 100px;
        }

        .disclaimer-text {
          position: absolute;
          bottom: 15px;
          left: 15px;
          color: theme-color("primary-light");
          font-size: 10px;
        }
      }
    }
  }
}
